.dragelement{
  border: 2px solid black;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
}

.dragelement:hover{
  font-weight: 600;
}

.dropelement{
  border: 2px solid black;
  padding: 5px;
  text-align: center;
  min-width: 200px;
  min-height: 25px;
  font-style: italic;
}



.dropelementfillin{
  border-bottom: 2px solid black;
  text-align: center;
  min-width: 100px;
  display: inline-block;
  height: 30px;
  font-style: italic;
}

.close {
  /* width: 15px;
  height: 15px; */
  padding: 2px;
  border-radius: 50%;
  font-size:11px;
  text-align: center;
  font-weight: 900;
  cursor: pointer;
  color:white;
  background-color: black;
  margin-left: 3px;
}

.q4drag{
  /* border:1px solid black; */
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
}

.cp{
  margin-left: 3px;
  cursor: pointer;
}