.dragelement{
  border: 2px solid black;
  padding: 5px;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
}

.dragelement:hover{
  font-weight: 600;
}

.dropelement{
  border: 2px dotted black;
  padding: 5px;
  text-align: center;
  min-width: 200px;
  min-height: 25px;
  font-style: italic;
  font-weight: 600;
}



.dropelementfillin{
  border-bottom: 2px dotted black;
  text-align: center;
  min-width: 100px;
  display: inline-block;
  height: 30px;
  font-style: italic;
  font-weight: 600;
}

.typein{
  width:100%;
  border:none;
  border-bottom:2px dotted black;
  outline:none;
  padding:5px;font-style:italic; font-weight: 600;
}


 .mydropdown{
   border:none;
   border-bottom:2px dotted black;
   display:inline;max-width:20%;
   font-style: italic;
   font-weight: 600;
   cursor: pointer;
   
}

.mydropdown:hover{
  border:2px dotted green;
  font-size: 20px;
}

.mydropdown .myoption:checked,
.mydropdown .myoption:hover ,
.mydropdown .myoption:active {
    background-color: green;
    font-style: italic;
}


.cp{
  margin-left: 3px;
  cursor: pointer;
}



.tooltipdelete{
  color: black;
}

.tooltipdelete:hover{
  color: red;
}

.mytooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
}

.mytooltip .tooltiptext {
  visibility: hidden;
 
  background-color: lightgray;
  color: #fff;
  color: black;
  font-size: 12px;
  text-align: center;
  border-radius: 6px;
  padding: 2px 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -12px;
  left: 105%;
}

.mytooltip:hover .tooltiptext {
  visibility: visible;
}